<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @branch.uid %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @branch.parent %>
</p>

<p>
  <strong>Text:</strong>
  <%= @branch.text %>
</p>

<p>
  <strong>Range:</strong>
  <%= @branch.range %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
